<launch>

<env name="ROS_MASTER_URI" value="http://$(env ROS_IP):11311"/>

<node name="lsd_slam_viewer" pkg="lsd_slam_viewer" type="viewer"
        output="screen">
 </node>

<node name="lsd_slam_core" pkg="lsd_slam_core" type="live_slam">
	<param name="image" value="/ardrone/front/image_rect" />
	<param name="camera_info" value="/ardrone/front/camera_info" />
	<param name="minUseGrad" value="15" />
	<param name="cameraPixelNoise" value="30" />
</node>

<node ns="/ardrone/front" name="Image_Rectifier_Node" pkg="image_proc" type="image_proc">
</node>

</launch>

